ul
  each item in tickets
    li.tickets-list__item
      .ticket-card.ticket-card--color01
        .ticket-card__img
          +ticketPicture(item.picture, item.title)
        .ticket-card__info
          +ticketLabel(item.type)
          .ticket-card__categories
            each category in item.categories
              a(href='/offers/category/' + category.id) #{category.name}
          .ticket-card__header
            h3.ticket-card__title
              a(href='/offers/' + item.id) #{item.title}
            p.ticket-card__price
              span.js-sum #{item.sum}
              |  ₽
          .ticket-card__desc
            p #{item.description}

